/* Your CSS here. */

.container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    min-height: 100vh;      
  }
.center-text {
    text-align: center;
  }
.card {
    background-color: paleturquoise;
    width: 500px;
    height: 300px;
    padding: 10px 20px;
    text-align: center;
  }
.card img {
    max-width: 150px;
    max-height: 150px;
    align-items: center;
   /*border-radius: 8px;*/
  }
